/*------------------*/
/* #DEMOS */
/*------------------*/

.demo__kayak {
  padding-block: var(--elbrus);
}

.demo__kayak--header {
  max-width: var(--pelican);
  margin-inline: auto;
  flex-flow: column-reverse;
  margin-block-end: 0;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }

  @media (min-width: 40rem) {
    flex-flow: row wrap;
  }
}
