button,
.button,
.button__mullen,
.book-now {
  background: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-block-end: var(--elbrus);
  transition: 0.5s ease;
  display: block;
  line-height: 1.5rem;
  text-decoration: none;
  width: max-content;

  color: var(--navy-100);
  border: 1px solid var(--navy-100);
  box-shadow: var(--penumbra);
}

button:hover,
.button:hover,
/* below is for the storyboard showcase */
.button__hover,
.button__mullen:hover,
.button__mullen--hover,
/* this is a weird thing you maybe need */
.button__mullen--hover:hover {
  color: hsl(var(--mullen__base), var(--dim));
  border-color: hsl(var(--mullen__base), var(--dim));
  box-shadow: var(--antumbra);

  /* TODO this doesnt do enough in dark to see the change */

  @media (prefers-color-scheme: dark) {
    color: var(--navy-100);
  }
}

.button__active,
button:active,
.button__mullen:active,
.button__mullen--active {
  /* background-color: hsl(var(--sand__base), var(--glow)); */
  border-color: hsl(var(--mullen__base), var(--dull));
  color: hsl(var(--mullen__base), var(--dull));
  box-shadow: var(--antumbra);
  box-shadow: var(--umbra);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--mullen__base), var(--dull));
    color: var(--black-metal);
  }
}

.button__mullen {
  background-color: var(--navy-100);
  color: var(--brilliance);
}

.button__mullen:hover,
.button__mullen--hover,
/* this is a weird thing you maybe need */
.button__mullen--hover:hover {
  background-color: hsl(var(--mullen__base), var(--dull));
  color: var(--tin-soldier);
}

.button__mullen:active,
.button__mullen--active {
  background-color: hsl(var(--mullen__base), var(--dark));
  color: var(--industrial-revolution);
}

/*------------------*/
/* #MENU */
/*------------------*/

menu button {
  margin: 0;
}

/*------------------*/
/* #BOOK NOW primary call to action */
/*------------------*/

.book-now {
  margin-block-start: 0.75rem;
  text-decoration: none;
  text-align: center;
  display: inline-block; /* same as a button */
  background-color: var(--navy-100);
  color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-200);
    color: black;
  }
}

.book-now:hover,
.book-now:active {
  background-color: var(--navy-300);
  color: var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-100);
    color: var(--brilliance);
  }
}

footer .book-now {
  margin-block-start: 0;
  margin-block-end: var(--elbrus);
}

.button__double {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
}

/*------------------*/
/* #BUTTON GROUP */
/*------------------*/

.buttonGroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-block-end: var(--elbrus);
}

/*------------------------------------*/

/* ! test */
#my-popover {
  background: #333;
  color: white;
  font-weight: 400;
  padding: 1rem;
  max-width: 200px;
  line-height: 1.4;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  max-width: var(--albatross);
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  z-index: 100;
  height: auto;

  iframe {
    width: 100%;
    height: 100%;
  }
}
