button,
.button,
.button__mullen,
.book-now {
  background: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-block-end: var(--baseline);
  transition: 0.5s ease;
  display: block;
  line-height: 1.5rem;
  text-decoration: none;
  width: max-content;

  color: var(--navy);
  border: 1px solid var(--navy);
  box-shadow: var(--penumbra);
}

button:hover,
.button:hover,
/* below is for the storyboard showcase */
.button__hover,
.button__mullen:hover,
.button__mullen--hover,
/* this is a weird thing you maybe need */
.button__mullen--hover:hover {
  color: hsl(var(--mullen__base), var(--dim));
  border-color: hsl(var(--mullen__base), var(--dim));
  box-shadow: var(--antumbra);

  /* TODO this doesnt do enough in dark to see the change */

  @media (prefers-color-scheme: dark) {
    color: var(--navy);
  }
}

.button__active,
button:active,
.button__mullen:active,
.button__mullen--active {
  /* background-color: hsl(var(--sand__base), var(--glow)); */
  border-color: hsl(var(--mullen__base), var(--dull));
  color: hsl(var(--mullen__base), var(--dull));
  box-shadow: var(--antumbra);
  box-shadow: var(--umbra);

  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--mullen__base), var(--dull));
    color: var(--black-metal);
  }
}

.button__mullen {
  background-color: var(--navy);
  color: var(--brilliance);
}

.button__mullen:hover,
.button__mullen--hover,
/* this is a weird thing you maybe need */
.button__mullen--hover:hover {
  background-color: hsl(var(--mullen__base), var(--dull));
  color: var(--tin-soldier);
}

.button__mullen:active,
.button__mullen--active {
  background-color: hsl(var(--mullen__base), var(--dark));
  color: var(--industrial-revolution);
}

/*------------------*/
/* #MENU */
/*------------------*/

menu button {
  margin: 0;
}

/*------------------*/
/* #BOOK NOW primary call to action */
/*------------------*/

.book-now {
  margin-block-start: 0.75rem;
  text-decoration: none;
  text-align: center;
  display: inline-block; /* same as a button */
  background-color: var(--navy);
  color: var(--brilliance);

  @media (prefers-color-scheme: dark) {
    background-color: oklch(75% var(--navy-c) var(--navy-h));
    color: black;
  }
}

.book-now:hover,
.book-now:active {
  background-color: oklch(62.5% var(--navy-c) var(--navy-h));
  color: var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy);
    color: var(--brilliance);
  }
}

footer .book-now {
  margin-block-start: 0;
  margin-block-end: var(--baseline);
}

.button__double {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
}

/*------------------*/
/* #BUTTON GROUP */
/*------------------*/

.buttonGroup {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-block-end: var(--baseline);
}

/*------------------------------------*/

.location-stack {
  margin-block-end: 1.5rem;

  .location {
    display: flex;
    flex-flow: row;
    gap: 1rem;

    > * {
      flex: 3.5 1; /* guess and check to get the parking on one row in the footer */
    }

    > .svg {
      flex: 1 1;
    }
  }
}

.location {
  padding: 1rem;
  width: 100%;
  margin-block-start: 0.75rem;
  text-decoration: none;
  display: inline-block; /* same as a button */
  border-radius: var(--card-radius);
  box-shadow: var(--penumbra);
}

.location:hover {
  box-shadow: var(--antumbra);
  background-color: oklch(62.5% var(--navy-c) var(--navy-h));
  color: var(--kingly-cloud);

  svg {
    fill: var(--kingly-cloud);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy);
    color: var(--brilliance);

    svg {
      fill: var(--brilliance);
    }
  }
}
