/*------------------*/
/* #CARD */
/*------------------*/

/* TODO: needs sub-grid */
.card,
.ticket {
  background-color: var(--sand);
  box-shadow: var(--penumbra);
  border: 1px solid transparent;

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-700);
    border-color: var(--navy-600);
  }

  .card__span {
    color: var(--industrial-revolution);
  }

  p {
    color: var(--black-metal);

    @media (prefers-color-scheme: dark) {
      color: var(--brilliance);
    }
  }

  .card__details {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--black-out);

      @media (prefers-color-scheme: dark) {
        color: var(--brilliance);
      }
    }

    button {
      background-color: var(--navy);
      color: var(--brilliance);
    }

    button:where(:hover, :focus) {
      color: var(--kingly-cloud);
    } /* .button */
  }
}

/* TODO: needs sub-grid */
.card,
.ticket {
  background-color: var(--sand);
  box-shadow: var(--penumbra);

  @media (prefers-color-scheme: dark) {
    background-color: var(--navy-700);
    border-color: var(--navy-600);
  }

  .card__span {
    color: var(--industrial-revolution);
  }

  p {
    color: var(--black-metal);

    @media (prefers-color-scheme: dark) {
      color: var(--brilliance);
    }
  }

  .card__details {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--black-out);

      @media (prefers-color-scheme: dark) {
        color: var(--brilliance);
      }
    }

    button {
      background-color: var(--navy);
      color: var(--brilliance);
    }

    button:where(:hover, :focus) {
      color: var(--kingly-cloud);
    } /* .button */
  }

  .badge {
    background-color: var(--brilliance);
    box-shadow: var(--penumbra);
  }
}

.deck__more {
  max-width: var(--pelican);
}

.sand_backed--wide {
  .card {
    background-color: whitesmoke;

    /* TODO: I dont like this its too subtle */
    @media (prefers-color-scheme: dark) {
      background-color: hsl(var(--ink__h), 50%, 5%);
    }
  }
}

/*------------------*/
/* #RETAIL LOGO */
/*------------------*/

.brand__header {
  background-color: var(--kingly-cloud);
  box-shadow: 0 0 0 100vmax var(--kingly-cloud);
  clip-path: inset(0 -100vmax);
}

/*------------------*/
/* #LOCATION DECK AND CARDS */
/*------------------*/

.here__location, /* TODO rename this to .location everywhere */
.location_card {
  border-block-end: 1px solid var(--kingly-cloud);

  @media (prefers-color-scheme: dark) {
    border-block-end: 1px solid var(--black-out);
  }

  background-color: var(--navy);
  color: whitesmoke;

  /* TODO: this defintley isnt right */
  @media (prefers-color-scheme: dark) {
    background-color: hsl(var(--mullen__base), var(--dim));
  }

  a {
    color: var(--brilliance);
  }

  svg {
    fill: whitesmoke;
  }
}

/* can location cards be laid out horizontally but I think they never have a background if they are so maybe they are a seperate thing thing thats not a card? */
