/*------------------*/
/* #COLOR */
/*------------------*/

/* TODO: some of this is not color clean it up and get rid of the file */

/*------------------*/
/* #SERIES */
/*------------------*/

.series section {
  max-width: var(--pelican);
}

/* this isnt right as if a section is empty it still counts */
.series section:nth-child(odd, :has(p)) {
  padding-block: var(--elbrus);
  margin-block-end: var(--elbrus);
}

.series section:last-child {
  margin-block-end: 0;
}

.series section:not(:has(p)) {
  margin-block-start: -1.25rem;
}
